body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#top{
    width: 80%;
    margin: 10px auto;
    border: 3px solid #8b22a8;
    background-color: #fcfcfc;
    padding: 100px;
    box-shadow: 0 0 10px #cd481b;
}
#header{
        text-align: center;
        border-bottom: 2px solid #77c9d4;
        padding-bottom: 10px;
        margin-bottom: 20px;
}
#main{
    width: 25%;
    background-color: #77c9d4;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    display: flex;
}
#left_head{
    border-bottom: 2px solid white;
}
.section{
    border: 2px solid #b2e0df;
    background-color: #f2fdfd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
}
#top2{
    display:flex;
}
.date{
    color: #008cba;
    font-weight: bold;
}
.red{
    color: red;
    font-style: italic;
}
.head{
    color: #5c9ea4;
}